h1{
	font-size:14px;
	color:#f07060;
}

.formulario{
	font-size:12px;
	background-color:#f4f4f4; 
	color: #509088;
	border: 1px solid #e4e8e4;
	padding: 10px;
	width: 280px; 
}

label{
	font-size:12px;
	color: #509088;
}

table{
	font-size:12px;
	color: #509088;
}


.titulo_form{
	font-size:18px;
	background-color:#408050;
	color:#ffffff;
	padding:2px;
	width: 275px;
	height: 24px;
	text-align: center; 
}

button, input, select, textarea {
	font-family : sans-serif;
	font-size   : 11px;
	color: #686868;
	display: block;
	text-align:center;
}

select.producto{text-align:left;}


option{background-color:#f4e8ea;}

.boton_largo{
	width:100%;
	height:30px;
	font-size:14px;	
}	

.noblock{display:inline;}

div#seccionformulario{
	position:absolute;
	width:280px;
	height:750px;
	left:5px;
	top:5px;
	border: 1px solid black;
}

div#seccionpedido{
	position:absolute;
	width:900px;
	height:750px;
	left:320px;
	top:5px;
	border: 1px solid black;
}

.fila_par{
	background-color: #e0f0e8;
}

.fila_impar{
	background-color: #faf8f8;
}

td{
	padding:5px;
}

table{
	border-collapse:collapse;
}

.ttp{
	border:1px solid green;
	padding : 5px;
	height: 40px;
	background-color: #408050;
	color: #ffffff;
	
}
